/* stylelint-disable property-no-vendor-prefix */

/*
 * Globals
 */

/* Links */
*{
  font-family: 微软雅黑,Microsoft YaHei;
  color: #333333;

}
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #ffffff;
  overflow: hidden;
}
body {
  color: #fff;
  /* text-align: center; */
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  overflow: auto;
  overflow-x: hidden;
}
.site-wrapper-inner {
  /* display: table-cell; */
  vertical-align: top;
  min-width: 1200px;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.masthead{
  height: 160px;
  max-width: 1200px;
  margin: auto;
}
.masthead .masthead-nav{
  margin-left: 170px;
  margin-top: 30px;
}
/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
  width: 160px;
  border-left: 1px solid #cccccc;
  padding-left: 20px;
  height: 32px;
  line-height: 16px;
  vertical-align: middle;
}
.masthead-nav > li.mini {
  width: 120px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: 700;
  color: #333333;
  padding: 0;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  /* background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255, 255, 255, .25); */
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #333333;
  border-bottom-color: #fff;
}
.block1{
  /* min-height: 550px; */
  background: #f5f5f5;
}
.cover .block1 .list-content{
  padding: 40px 15px 30px;
  background: #f5f5f5;
}
.list-content .list-header{
  font-size: 16px;
}
.list-group{
  min-height: 200px;
}
.list-group .list-group-item{
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #ddd;
  margin: 0;
  height: 60px;
  line-height: 60px;
  padding: 0 60px;
  background: #f5f5f5;
}
.list-swiper-wrapper{
  position: relative;
}
.list-swiper-wrapper .list-swiper{
  top: -20px;
  position: absolute;
  background: #ffffff;
  z-index: 99;
  height: 606px;
  padding: 30px 20px 20px;
  left: 0;
  right: 0;
}

/*
 * Cover
 */

.cover {
  /* padding: 0 20px; */
  width: 1200px;
  margin: auto;
  /* margin-top: 30px; */
}
.cover .list-header{
  margin-bottom: 20px;
}
.cover .list-header .list-title{
  margin-bottom: 20px;
}
.cover .list-header .list-sub-title{
  margin: 20px 0;
}
.cover .list-header .list-media img{
  width: 260px;
  height: 150px;
}
.cover .block-info .info-media img{
  /* width: 300px;
  height: 300px; */
}
.cover .block-info .info-text{
  padding: 50px 30px;
}
.cover .block-info .info-text .info-text-more{
  margin-top: 90px;
}



.header{
  width: 100%;
  height: 600px;
}
.cover .swiper1 {
  width: 100%;
  height: 300px;
}
.cover .swiper-page-split-wrapper{
  display: flex;
  height: 36px;
  align-items: center;
}
.cover .swiper-page-split{
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  height: 5px;
  width: 100%;
}
.cover .swiper-title{
  margin: 20px 0;
}
.cover .list-more{

}
.cover .glyphicon{
  color: #999999;
  border: 1px solid #999999;
  padding: 10px;
  text-align: center;
}
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}

.swiper-pagination-bullet {
  width: 130px;
  height: 90px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  opacity: 0.4;
  border-radius: 0;
  background-size: cover;
  /* color:#000; */
  /* opacity: 1; */
  /* background: rgba(0,0,0,0.2); */
}
.swiper-container-horizontal>.swiper-pagination-bullets{
  bottom: 110px;
}
.swiper-container .swiper-title{
  position: absolute;
  bottom: 50px;
  z-index: 100;
  color: #ffffff;
  font-size: 16px;
  width: 100%;
  text-align: center;
}
.swiper-pagination-bullet-active {
  /* color:#fff; */
  /* background: #007aff; */
  opacity: 1;

}
.cover .inner-block{
  height: 170px;
  background: #009c3e;
}
.cover .inner-block-center{
  height: 170px;
  background: #00a546;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.cover .inner-block-center .input-group{
  flex: 1;
}
.cover .inner-block-center .input-group .form-control{
  border-radius: 0;
  box-shadow: none;
  transition: none;
  height: 40px;
  border: 1px solid #fff;
}
.cover .inner-block-center .input-group img{
  display: inline-block;
  width: 80px;
  height: 40px;
  border: 1px solid #ffffff;
  border-left: 0;
}
/*
 * Footer
 */
.mastfoot {
  margin-top: 80px;
  color: #999; /* IE8 proofing */
  color: rgba(255, 255, 255, .5);
}
.mastfoot .mastfoot-header-wrapper{
  background: #00a546;
}
.mastfoot .mastfoot-header{
  margin: auto;
  max-width: 1200px;
  text-align: center;
  padding: 20px 0 10px;
}
.mastfoot .mastfoot-header p{
  color: #ffffff;
}
.mastfoot .mastfoot-footer-wrapper{
  background: #f0f0f0;
}
.mastfoot .mastfoot-footer{
  margin: auto;
  max-width: 1200px;
  text-align: center;
  padding: 40px 0 30px;
}
.mastfoot .mastfoot-footer p{
}

.mastfoot .mastfoot-header i{
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: bottom;
  margin: 0 15px;
}